/*common*/
.container {
    max-width: 100%;
    margin-top: 15px;
}

.box, .nested {
    min-height: 50px;
    border: 1px solid white;
    background-color: rgb(55, 55, 255);
    text-align: center;
    padding: 15px;
    color: white;
}

.nested {
    background-color: yellowgreen;
    border-color: rgb(55, 55, 255);
}

